{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'messenger/style.css' %}">
{% endblock styles %}

{% block content %}
<div class="container">
    <br><br>
    
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <a href="{% url 'compose_message' %}" class="btn btn-danger btn-sm btn-block" role="button"><i class="glyphicon glyphicon-edit"></i> Compose</a>
            <hr>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{% url 'inbox' %}"><span class="badge pull-right">{{ user.messages_received.all|length }}</span>Inbox</a></li>
                <li class="active"><a href="#"><span class="badge pull-right">{{ user.sent_mail.all|length }}</span> Sent Items </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-md-10">
                        <div class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <div class="list-group">
                        
                        {% for message in user.messages_sent.all %}
                        <a href="{% url 'view_message' message.id %}" class="list-group-item">
                            <span class="glyphicon glyphicon-star-empty"></span><span class="name" style="min-width: 120px;
                                display: inline-block;">{{ message.recipient.username }}</span> <span class="">{{ message.subject }}</span>
                            <span class="text-muted" style="font-size: 11px;">- {{ message.body }}</span> <span class="badge">12:10 AM</span> <span class="pull-right"></span></a>
                        {% endfor %}
                                
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}